table {
}

tr {
     height: 16px;
     vertical-align: middle;
}

td {
    padding: 5px;
}

#field {
    position: absolute;
    width: 50%;
}

#data {
    margin-left: 50%
}

.inline {
    height: 256px;
    display: inline-block;
    overflow: auto;
}

#rest {
     height: 400px;
}

